body {
    background-color: red;
}

header {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 15px;
}

.logo img {
    width: 120px;
    display: block;
    margin: auto;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: gold;
}

h1, h2 {
    text-align: center;
}

.hero {
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
    border-radius: 10px;
}

.hero input {
    padding: 10px;
    width: 200px;
}

.hero button {
    padding: 10px;
    background: gold;
    color: black;
    border: none;
}

.btn {
    display: inline-block;
    background: gold;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}

.btn:hover {
    background: white;
}

.catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.car {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    width: 220px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.car img {
    width: 100%;
    border-radius: 10px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: gold;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: white;
}


footer {
    margin-top: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
}


